{% extends 'layout.html' %}
{% block content %}

<!-- Home page: a debate motion is retrieved from an SQLite database and its category and difficulty is displayed. The user can select a category and difficulty and regenerate a motion. The debate motion could include an 'info slide'. -->
<!-- Currently without SQL or any interactive functions -->

<div class="motion">
    <p><em>This House</em>, as a large multinational corporation, <em>would</em> prioritise donating to secular charities rather than religious ones.</p>
</div>

<div class="menu-container">
    <div class="menu-group left">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="social-movements">Social movements & activism</option>
            <option value="youth">Youth</option>
            <option value="economics-trade">Economics & trade</option>
            <option value="international-relations">International relations</option>
            <option value="technology-innovation">Technology & innovation</option>
            <option value="environment">Environment</option>
            <option value="law">Law</option>
            <option value="crime">Crime</option>
            <option value="ethics">Ethics</option>
            <option value="urban-planning">Urban planning</option>
            <option value="politics-governance">Politics & governance</option>
        </select>
    </div>
    
    <div class="menu-group right">
        <label for="difficulty">Difficulty:</label>
        <select id="difficulty" name="difficulty">
            <option value="junior">Junior</option>
            <option value="intermediate">Intermediate</option>
            <option value="senior">Senior</option>
        </select>
    </div>
</div>

<div class="button-center">
    <button>Regenerate ></button>
</div>

{% endblock %}