{% extends 'layout.html' %}
{% block content %}

<!-- Random page: similar to homepage, but the user does not have the option to regenerate, therefore there will be drop down dropdowns for category and difficulty -->
<!-- Currently without SQL or any interactive functions -->


<div class="motion">
    <p><em>This House would</em> support the widespread implementation of digital wills.</p>
</div>

<div class="infoslide">
    <p>Info Slide: A digital will is a document that specifies how a person's digital assets and online accounts should be managed and distributed after their death. Digital assets include cryptocurrencies, social media accounts, email accounts, websites, online businesses, and other digital property.</p>
</div>

<div class="dropdown-container">
    <div class="dropdown-group left">
        <label for="category">Category: Ethics</label>
    </div>
    
    <div class="dropdown-group right">
        <label for="difficulty">Difficulty: Intermediate</label>
    </div>
</div>

{% endblock %}